<h2>Energy distribution</h2>
<div style="display: flex">
  <p style="font-size: 11px; text-align: right; line-height: 22px; width: 120px; padding-right: 5px; margin:0">Intake</p>
  <div style="width: 100%; height: 20px; border: 1px solid black; overflow: hidden">
    <div style="display: inline-block; width: <%= @carbohydrates_percent%>%; height: 22px; background: var(--carbohydrates);"></div><div style="display: inline-block; width: <%= @fat_percent%>%; height: 22px; background: var(--fat);"></div><div style="display: inline-block; width: <%= @protein_percent%>%; height: 22px; background: var(--protein);"></div><div style="display: inline-block; width: <%= @fiber_percent%>%; height: 22px; background: var(--fiber);"></div>
  </div>
</div>
<div style="display: flex">
  <p style="font-size: 11px; text-align: right; line-height: 22px; width: 120px; padding-right: 5px; margin:0">Recommendation</p>
  <div style="width: 100%; height: 20px; border: 1px solid black; overflow: hidden">
    <div style="display: inline-block; width: 50%; height: 22px; background: var(--carbohydrates);"></div><div style="display: inline-block; width: 30.5%; height: 22px; background: var(--fat);"></div><div style="display: inline-block; width: 12.5%; height: 22px; background: var(--protein);"></div><div style="display: inline-block; width: 7%; height: 22px; background: var(--fiber);"></div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Amount (g)</th>
      <th>Energy (kcal)</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Carbohydrates</td>
      <td><%= @totals[:carbohydrates] %></td>
      <td><%= @carbohydrates_energy %></td>
      <td><%= @carbohydrates_percent %> %</td>
    </tr>
    <tr>
      <td>Fat</td>
      <td><%= @totals[:fat] %></td>
      <td><%= @fat_energy %></td>
      <td><%= @fat_percent %> %</td>
    </tr>
    <tr>
      <td>Protein</td>
      <td><%= @totals[:protein] %></td>
      <td><%= @protein_energy %></td>
      <td><%= @protein_percent %> %</td>
    </tr>
    <tr>
      <td>Fiber</td>
      <td><%= @totals[:fiber] %></td>
      <td><%= @fiber_energy %></td>
      <td><%= @fiber_percent %> %</td>
    </tr>
  </tbody>
</table>
