<h2>Omega 3:6 ratio</h2>

<div style="display: flex">
  <p style="font-size: 11px; text-align: right; line-height: 21px; width: 120px; padding-right: 5px; margin:0">Intake</p>
  <div style="width: 100%; height: 20px; border: 1px solid black; overflow: hidden">
    <div style="display: inline-block; width: <%= @omega3percent %>%; height: 21px; background: var(--protein);"></div><div style="display: inline-block; width: <%= @omega6percent %>%; height: 21px; background: var(--fat);"></div>
  </div>
</div>
<div style="display: flex">
  <p style="font-size: 11px; text-align: right; line-height: 21px; width: 120px; padding-right: 5px; margin:0">Recommendation</p>
  <div style="width: 100%; height: 20px; border: 1px solid black; overflow: hidden">
    <div style="display: inline-block; width: 33%; height: 21px; background: var(--protein);"></div><div style="display: inline-block; width: 67%; height: 21px; background: var(--fat);"></div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Amount</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Omega 3</td>
      <td><%= @total_omega3 %> g</td>
      <td><%= @omega3percent %> %</td>
    </tr>
    <tr>
      <td>Omega 6</td>
      <td><%= @total_omega6 %> g</td>
      <td><%= @omega6percent %> %</td>
    </tr>
</table>
