<h1>Nutrition</h1>
<%= render partial: 'selected_food_item' %>
<%= render partial: 'food_list' %>
<%= render partial: 'energy_balance' %>
<%= render partial: 'omega_balance' %>
<%= render partial: 'nutrition_list' %>
